<h1>Calendar</h1>
<div>
  <ox-calendar></ox-calendar>
</div>

<h1>Date Input</h1>
<div>
  <ox-input-date></ox-input-date>
</div>

<h1>Number Input</h1>
<div>
  <ox-input-number></ox-input-number>
</div>

<h1>Autocomplete</h1>
<div>
  <ox-autocomplete [completionHandler]="autocompleteHandler"></ox-autocomplete>
</div>

<h1>Autocomplete Multiselect</h1>
<div>
  <ox-autocomplete-multiselect [completionHandler]="autocompleteHandler"></ox-autocomplete-multiselect>
</div>

<h1>Selection-List</h1>
<div>
  <ox-selection-list [options]="options"></ox-selection-list>
</div>

<h1>Checkbox</h1>
<div>
  <ox-checkbox>Checkbox</ox-checkbox>
</div>

<h1>Label</h1>
<div>
  <ox-label [label]="'Text'"><input type="text"/></ox-label>
</div>

<h1>Spinner</h1>
<div>
  <ox-spinner></ox-spinner>
</div>
