<h1>OutOfCoffeeException Angular Components</h1>
<div class="description">
  This page demonstrates the oocx-ng Angular components.
  For more information and source code, visit the <a href="https://github.com/oocx/oocx-ng">oocx-ng homepage on github</a>.
  You can <a href="https://npmjs.com/package/oocx-ng">download</a> these components from npmjs.
</div>

<h2>Components</h2>
<div>oocx-ng contains a collection of lightweight Angular components:</div>

<h3>Calendar</h3>
<div class="description">
  The calendar component shows a calendar with German day / month names and week numbers.
  The user can select a date and can navigate to the previous / next month.
</div>
<div>
  <ox-calendar></ox-calendar>
</div>

<h3>Date Input</h3>
<div class="description">
  The date input combines a date autocomplete service with the calendar component. The user can imput the date
  or select a date in the calendar component.
</div>
<div>
  <ox-input-date></ox-input-date>
</div>

<h3>Number Input</h3>
<div class="description">
  A textbox that limits input to numbers.
</div>
<div>
  <ox-input-number></ox-input-number>
</div>

<h3>Autocomplete</h3>
<div class="description">
  A text input with autocomplete popup. The autocomplete entries can be simple text (default) or complex
  content (by specifiing a custom template).
</div>
<div>
  <ox-autocomplete [completionHandler]="autocompleteHandler"></ox-autocomplete>
</div>

<h3>Autocomplete Multiselect</h3>
<div class="description">
  This control works similar to the autocomplete component, but allows the selection of multiple values
  from the autocomplete popup.
</div>
<div>
  <ox-autocomplete-multiselect [completionHandler]="autocompleteHandler"></ox-autocomplete-multiselect>
</div>

<h3>Selection-List</h3>
<div class="description">
  Offers a list of choices which are presented as buttons.
</div>
<div>
  <ox-selection-list [options]="options"></ox-selection-list>
</div>

<h3>Checkbox</h3>
<div class="description">
  The checkbox component combines an input of type 'checkbox' with a label component. The checkbox can be checked / unchecked
  by clicking on the label. IDs for the input and the label for-attribute are generated automatically.
</div>
<div>
  <ox-checkbox>Checkbox</ox-checkbox>
</div>

<h3>Label</h3>
<div class="description">
  The label component can be used to generate a HTML label element for an input element. The component automatically
  generates a unique ID for the input element and uses this ID for the for-attribute of the label.
</div>
<div>
  <ox-label [label]="'Text'"><input type="text"/></ox-label>
</div>

<h3>Spinner</h3>
<div class="description">
  The spinner component can be used as loading animation. It can subscribe to an observable and can display an error message
  if the observable throws an error.
</div>
<div>
  <button (click)="emitError()">Emit error</button>
  <ox-spinner [errorSource]="errorSource"></ox-spinner>
</div>

<h2>Pipes</h2>

<h3>duration pipe</h3>
<div class="description">Converts hours to hour:minutes format</div>
<table>
  <tr><th>pipe input</th><th>result</th></tr>
  <tr><td>0</td><td>{{ 0 | duration }}</td></tr>
  <tr><td>0.5</td><td>{{ 0.5 | duration }}</td></tr>
  <tr><td>1</td><td>{{ 1 | duration }}</td></tr>
  <tr><td>25.25</td><td>{{ 25.25 | duration }}</td></tr>
</table>
